.teacher-row{
    p{
        font-size: 0.7rem;
    }

    .choice-button{
        max-height: 1rem;
    }

    .displayButton{
        display: flex;
    }

    .hideButton{
        display: none;
    }
}