@import '~@angular/material/theming';

.header{
    color: #03A9F4;
}

img{
    margin-right: 1rem;
}

.login-field{
    width: 100%;
}

.card-centered{
    display: flex;        
    justify-content: center;
    align-items: center;
}