.container{
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    margin: auto;
    align-content: center;
    align-items: center;
    height: 100%;

    .login{
        // border: 1px solid grey;
    }

}