.container-component{
    
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    margin: auto;
    align-content: center;
    align-items: center;
    height: 100%;
    
}